.img-container{
    height: 277px;
    width: 1160px;
    border-radius: 14px;
    display: flex;
}
.img-container img{
    height: 277px;
    width: 367px;
    border-radius: 40px;
    padding: 10px;
    transition: all 300ms;
}
