
.slider-container{
    margin-left: 300px;
    width: 1160px;
    height: 277px;
    text-align: center;
    overflow-x: scroll;
}
/* Me pica el pene */
.images-container{
    display: flex;
    justify-content: space-evenly;
}